
  h1{
    text-align: center;
  }
  p{
   padding: 1%
  }
  .ant-layout-content{
    background-color:rgb(255, 255, 255);
  }
  .ant-layout-header{
    height: auto;
    background-color:rgb(255, 255, 255) !important;
    margin: 1%;
    padding: 1%;
  }
  .ant-row{
    text-align: center;
  }
  .ant-col{
    background-color:rgb(236, 236, 236);
    margin: 1%;
    padding: 1%;
    border-radius: 5px;
  }
  .ant-btn{
    margin: 3px;
  }
  .returnButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
  }